@import ../../../styles/helpers

.toolbar-layout
    margin: 0
    padding: 0
    border-bottom: 1px solid $border-color

.toolbar-header
    display: flex,
    flex-direction: row
    justify-content: space-between
    background-color: $blue1-dark
    height: 60px
    +xs
        height: 45px

.toolbar-footer
    position: fixed
    bottom: 0
    width: 100%
    padding: 0
    text-align: center
    z-index: 100
    background-color: $blue1-dark
    height: 60px

.toolbar-footer-icon
    font-size: 28px
    margin: 0 20px
    color: $white
    cursor: pointer
    +xs
        font-size: 26px
        margin: 0 12px

.toolbar-footer-icon-active
    font-size: 28px
    margin: 0 20px
    color: $orange2
    cursor: pointer
    border-radius: 20%
    +xs
        font-size: 26px
        margin: 0 12px