@import styles/helpers

.theme-toggle
    display: flex
    justify-content: flex-end
    margin-right: 20px
    margin-top: 19px
    +xs
        margin-top: 12px
        margin-right: 15px

.icon-sun
    color: $orange2